<% content_for :title %>About Us<% end %>
<p> Remember school? Remember that competitive environment where everyone strove to be their best selves? CleanGPA allows you to do just that.</p>
<p>Many of us have no idea about our energy consumption and how it compares to others. So we set out to find a way to show someone a simple and effective single number (CleanGPA) and foster an environment where individual people and communities strive for peak performance through a little healthy competition.</p>
<p>And so, we are accepting our inaugural class. We're here to help you become your best (and most energy efficient) selves - let us know how we're doing.</p>
