<% content_for :title do %>Help<% end %>
<p>Need help, have a comment, need a friend--- reach out to us.</p>
<p>Site Help: <a href="mailto:admin@cleangpa.com">admin@cleangpa.com</a></p>
<p>Sales: <a href="mailto:sales@cleangpa.com">sales@cleangpa.com</a></p>
<p>Business Development/Advertising: <a href="mailto:busdev@cleangpa.com">busdev@cleangpa.com</a></p>
<p>Careers: <a href="mailto:careers@cleangpa.com">careers@cleangpa.com</a></p>
<p>Or call us: <a href="callto:1(800)555-cGPA [2472]">1(800)555-cGPA [2472]</a></p>