<h1>Welcome</h1>
<ul class="stats">
  <li id="stats-gas" class="expandable">
    <!-- average Gas usage stats -->
  </li>
  <li id="stats-electricity" class="expandable">
    <!-- average Electricity usage stats -->
  </li>
  <li id="stats-oil" class="expandable">
    <!-- average Oil usage stats -->
  </li>
</ul>
