<h1>Welcome</h1>
<div class="blurb">
	<p> Remember school? Remember that competitive environment where everyone strove to be their best selves? CleanGPA allows you to do just that.</p>
	<p>Many of us have no idea about our energy consumption and how it compares to others. So we set out to find a way to show someone a simple and effective single number (CleanGPA) and foster an environment where individual people and communities strive for peak performance through a little healthy competition.</p>
	<p>And so, we are accepting our inaugural class. We're here to help you become your best (and most energy efficient) selves - let us know how we're doing.</p>
</div>
<ul class="stats">
	<li id="stats-gas" class="expandable">
		<!-- average Gas usage stats -->
	</li>
	<li id="stats-electricity" class="expandable">
		<!-- average Electricity usage stats -->
	</li>
	<li id="stats-oil" class="expandable">
		<!-- average Oil usage stats -->
	</li>
</ul>
