<div class="center"><img src="<%= image_path('logo-big.png') %>" alt="<%= page_title %>"  /></div>
<ul class="boxes container_12" style="background:url(<%= image_path('bracket.png') %>) top center no-repeat; background-size:90% 60px;">
	<li id="stats-gas" class="expandable grid_4">
		<!-- average Gas usage stats -->
		<p> Remember school? Remember that competitive environment where everyone strove to be their best selves? CleanGPA allows you to do just that.</p>
	</li>
	<li id="stats-electricity" class="expandable grid_4">
		<!-- average Electricity usage stats -->
		<p>Many of us have no idea about our energy consumption and how it compares to others. So we set out to find a way to show someone a simple and effective single number (CleanGPA) and foster an environment where individual people and communities strive for peak performance through a little healthy competition.</p>
	</li>
	<li id="stats-oil" class="expandable grid_4">
		<!-- average Oil usage stats -->
		<p>And so, we are accepting our inaugural class. We're here to help you become your best (and most energy efficient) selves - let us know how we're doing.</p>
	</li>
</ul>
