<% content_for :title do %>Welcome<% end %>

<div class="center"><img src="<%= image_path('logo-big.png') %>" alt="<%= page_title %>"  /></div>
<ul class="boxes container_12" style="background:url(<%= image_path('bracket.png') %>) top center no-repeat; background-size:90% 60px;">
	<li id="stats-gas" class="expandable grid_4">
		<!-- average Gas usage stats -->
		<p>Heat homes, dry clothes, boil water--- natural gas is a fossil fuel that is often used in newer boilers.  EnergyGPA can help you determine and refine your boiler use and make suggestions about zone heating.</p>
	</li>
	<li id="stats-electricity" class="expandable grid_4">
		<!-- average Electricity usage stats -->
		<p>Power usage can be one of the easiest ways to up your EnergyGPA.  Unplugging your appliances when they are not being used, changing some light bulbs, someone can easily change this variable drastically. </p>
	</li>
	<li id="stats-oil" class="expandable grid_4">
		<!-- average Oil usage stats -->
		<p>Tanks are filled with crude oil and must be refilled on a seasonal or yearly basis.  Your heating system can be less efficient than expected. Turning down the heat, installing new thermostats or replacing your oversized old boiler can all help up your score.</p>
	</li>
</ul>
