<ol class="list">
	<li>
		<h4>Accepting the Terms</h4>
		<p>By using the information, tools, features and functionality located on CleanGPA.com (together the &quot;Service&quot;), you agree to be bound by this Agreement, whether you are a &quot;Visitor&quot; (which means that you simply browse the CleanGPA.com website) or you are a &quot;Member&quot; (which means that you have registered with CleanGPA.com). The term &quot;you&quot; or &quot;User&quot; refers
			to a Visitor or a Member. The term &quot;we&quot; refers to CleanGPA. If you wish to become a Member, communicate with other Members and make use of the Service, you must read this Agreement and indicate your acceptance during the Registration process.</p>
		<p>You may not use the Service and you may not accept this Agreement if you are not of a legal age to form a binding contract with CleanGPA.</p>
		<p>If you accept this Agreement, you represent that you have the capacity to be bound by it or if you are acting on behalf of a company or entity that you have the authority to bind such entity. Before you continue, you should print or save a local copy of this Agreement for your records.</p>
	</li>
	<li>
		<h4>Privacy and your Personal Information</h4>
		<p> For information about CleanGPA’s data protection practices, please read CleanGPA’s Privacy and Security Policy, which is hereby incorporated into this Agreement. This policy explains how CleanGPA treats your personal information when you access CleanGPA.com and use the Service. The policy may be updated from time to time at our discretion. Changes will be effective upon
			posting to the site.</p>
	</li>
	<li>
		<h4>Description of the Service</h4>
		<p> The Service is a personal energy consumption information management service that allows Members to consolidate and track their energy consumptionl information on CleanGPA.com. Based on such information, the Service may also present information relating to third party products or services (&quot;CleanGPA Offers&quot;).</p>
		<p>The Service is provided to you by CleanGPA without charge (it is free) and is meant as an aid to assist you in organizing and managing your finances. It is not intended to provide legal, tax or energy advice.</p>
	</li>
	<li>
		<h4>Account Information from Third Party Sites</h4>
		<p> With the Service, Members may direct CleanGPA to retrieve their own information maintained online by third-party energy institutions with which they have customer relationships, maintain accounts or engage in energy transactions (&quot;Account Information&quot;). CleanGPA works with one or more online energy service providers under contract to access this Account Information.
			CleanGPA makes no effort to review the Account Information for any purpose, including but not limited to accuracy, legality or non-infringement. CleanGPA is not responsible for the products and services offered by or on third-party sites.</p>
		<p>CleanGPA cannot always foresee or anticipate technical or other difficulties which may result in failure to obtain data or loss of data, personalization settings or other service interruptions. CleanGPA cannot assume responsibility for the timeliness, accuracy, deletion, non-delivery or failure to store any user data, communications or personalization settings. For example,
			when displayed through the Service, Account Information is only as fresh as the time shown, which reflects when the information is obtained from such sites. Such information may be more up-to-date when obtained directly from the relevant sites. You can refresh your Account Information through the Service, in the manner prescribed in the associated instructions.</p>
	</li>
	<li>
		<h4>CleanGPA Offers and Third-Party Links</h4>
		<p> Some parts of the Service are supported by sponsored links from advertisers and display CleanGPA Offers that may be custom matched to you based on information stored in the Service, queries made through the Service or other information. We will always disclose when a particular CleanGPA Offer is sponsored.</p>
		<p>In connection with CleanGPA Offers, the Service will provide links to other web sites belonging to CleanGPA advertisers and other third parties. CleanGPA does not endorse, warrant or guarantee the products or services available through the CleanGPA Offers (or any other third-party products or services advertised on or linked from our site), whether or not sponsored, and
			CleanGPA is not an agent or broker or otherwise responsible for the activities or policies of those web sites. CleanGPA does not guarantee that the loan, investment, plan or other service terms, rates or rewards offered by any particular advertiser or other third party on CleanGPA.com are actually the terms that may be offered to you if you pursue the offer or that they are
			the best terms or lowest rates available in the market.</p>
	</li>
	<li>
		<h4>Your Registration Information</h4>
		<p> You agree and understand that you are responsible for maintaining the confidentiality of your password which, together with your LoginID e-mail address, allows you to access the Service. That Login ID and password, together with any mobile number or other contact information you provide form your &quot;Registration Information.&quot;</p>
		<p>By providing us with your e-mail address, you agree to receive all required notices electronically, to that e-mail address. It is your responsibility to update or change that address, as appropriate. Notices will be provided in HTML (or, if your system does not support HTML, in plain-text) in the text of the e-mail or through a link to the appropriate page on our site,
			accessible through any standard, commercially available internet browser.</p>
		<p>If you become aware of any unauthorized use of your Registration Information, you agree to notify CleanGPA immediately at the email address - security@CleanGPA.com.</p>
	</li>
	<li>
		<h4>Your Use of the Service</h4>
		<p> Your right to access and use CleanGPA.com and the Service is personal to you and is not transferable by you to any other person or entity. You are only entitled to access and use CleanGPA.com for lawful purposes.</p>
		<p>Accurate records enable CleanGPA to provide the Service to you. You must provide true, accurate, current and complete information about your accounts maintained at other web sites, as requested in our &quot;add account&quot; setup forms, and you may not misrepresent your Registration Information. In order for the Service to function effectively, you must also keep your
			Registration Information up to date and accurate. If you do not do this, the accuracy and effectiveness of the Service to you will be affected.</p>
		<p>Your access and use of CleanGPA.com may be interrupted from time to time for any of several reasons, including, without limitation, the malfunction of equipment, periodic updating, maintenance or repair of CleanGPA.com or other actions that CleanGPA, in its sole discretion, may elect to take.</p>
		<p>From time to time, CleanGPA may include new and/or updated pre-release features (&quot;Sneak Preview&quot; features) in the Service for your use and which permit you to provide feedback. You understand and agree that your use of Sneak Preview features is voluntary and CleanGPA is not obligated to provide you with any Sneak Preview features. Furthermore, if you decide to
			use the Sneak Preview features you agree to abide by any rules or restrictions CleanGPA may place on them. You understand that once you use the Sneak Preview features, you may be unable to revert back to the earlier version of the same or similar feature. Additionally, if such reversion is possible, you may not be able to return or restore data created within the Sneak Preview
			feature back to the earlier version. The Sneak Preview features are provided on an &quot;as is&quot; basis and may contain errors or inaccuracies that could cause failures, corruption or loss of data and/or information from any connected device. You acknowledge and agree that all use of the Sneak Preview features is at your sole risk.</p>
		<p>You agree that CleanGPA may use your feedback, suggestions, or ideas in any way, including in future modifications of the Service, other products or services, advertising or marketing materials. You grant CleanGPA a perpetual, worldwide, fully transferable, sublicensable, irrevocable, fully paid-up, royalty free license to use the feedback you provide to CleanGPA in any
			way. CleanGPA will not sell, publish or share your feedback in a way that could identify you without your explicit permission.</p>
	</li>
	<li>
		<h4>Online and Mobile Alerts</h4>
		<p> CleanGPA may from time to time provide automatic alerts and voluntary account-related alerts.</p>
		<p>Automatic alerts may be sent to you following certain changes made online to your CleanGPA account, such as a change in your Registration Information.</p>
		<p>Voluntary account alerts may be turned on by default as part of the Service. They may then be customized, deactivated or reactivated by you. These alerts allow you to choose alert messages for your accounts. CleanGPA may add new alerts from time to time, or cease to provide certain alerts at any time upon its sole discretion. Each alert has different options available,
			and you may be asked to select from among these options upon activation of your alerts service.</p>
		<p>Electronic alerts will be sent to the email address you have provided as your primary email address for CleanGPA.com. If your email address or your mobile device’s email address changes, you are responsible for informing us of that change. You can also choose to have alerts sent to a mobile device that accepts text messages. Changes to your email address or mobile number
			will apply to all of your alerts.</p>
		<p>Because alerts are not encrypted, we will never include your passcode. However, alerts may include your CleanGPA.com Login ID and some information about your accounts. Depending upon which alerts you select, information such as an account balance or the due date for your credit card payment may be included. Anyone with access to your email will be able to view the content
			of these alerts. At any time you may disable future alerts.</p>
	</li>
	<li>
		<h4>Rights You Grant to Us</h4>
		<p> By submitting information, data, passwords, usernames, PINs, other log-in information, materials and other content to CleanGPA through the Service, you are licensing that content to CleanGPA solely for the purpose of providing the Service. CleanGPA may use and store the content, but only to provide the Service to you. By submitting this content to CleanGPA, you represent
			that you are entitled to submit it to CleanGPA for use for this purpose, without any obligation by CleanGPA to pay any fees or other limitations.</p>
		<p>By using the Service, you expressly authorize CleanGPA to access your Account Information maintained by identified third parties, on your behalf as your agent. When you use the &quot;Add Accounts&quot; feature of the Service, you will be directly connected to the website for the third party you have identified. CleanGPA will submit information including usernames and passwords
			that you provide to log you into the site. You hereby authorize and permit CleanGPA to use and store information submitted by you to the Service (such as account passwords and user names) to accomplish the foregoing and to configure the Service so that it is compatible with the third party sites for which you submit your information. For purposes of this Agreement and solely
			to provide the Account Information to you as part of the Service, you grant CleanGPA a limited power of attorney, and appoint CleanGPA as your attorney-in-fact and agent, to access third party sites, retrieve and use your information with the full power and authority to do and perform each thing necessary in connection with such activities, as you could do in person. YOU
			ACKNOWLEDGE AND AGREE THAT WHEN CleanGPA IS ACCESSING AND RETRIEVING ACCOUNT INFORMATION FROM THIRD PARTY SITES, CleanGPA IS ACTING AS YOUR AGENT, AND NOT AS THE AGENT OF OR ON BEHALF OF THE THIRD PARTY. You understand and agree that the Service is not sponsored or endorsed by any third parties accessible through the Service.</p>
	</li>
	<li>
		<h4>CleanGPA’s Intellectual Property Rights</h4>
		<p> The contents of CleanGPA.com, including its &quot;look and feel&quot; (e.g., text, graphics, images, logos and button icons), photographs, editorial content, notices, software (including html-based computer programs) and other material are protected under both United States and other applicable copyright, trademark and other laws. The contents of CleanGPA.com belong or
			are licensed to CleanGPA or its software or content suppliers. CleanGPA grants you the right to view and use CleanGPA.com subject to these terms. You may download or print a copy of information provided on CleanGPA.com for your personal, internal and non-commercial use only. Any distribution, reprint or electronic reproduction of any content from CleanGPA.com in whole or
			in part for any other purpose is expressly prohibited without our prior written consent.</p>
	</li>
	<li>
		<h4>Governing Law and Forum for Disputes</h4>
		<p>This Agreement, and your relationship with CleanGPA under this Agreement, shall be governed by the laws of the State of New York without regard to its conflict or choice of laws provisions. Any dispute with CleanGPA, or its officers, directors, employees, agents or affiliates, arising under or in relation to this Agreement shall be resolved exclusively through the small-claims
			court of the Superior Court of New York within the county of New York, New York, except with respect to imminent harm requiring temporary or preliminary injunctive relief in which case CleanGPA may seek such relief in any court with jurisdiction over the parties. You understand that, in return for agreement to this provision, CleanGPA is able to offer the Service at the terms
			designated, without charge to you, and that your assent to this provision is an indispensable consideration to this Agreement.</p>
		<p>You also acknowledge and understand that, with respect to any dispute with CleanGPA, its officers, directors, employees, agents or affiliates, arising out of or relating to your use of the Service or this Agreement:</p>
		<p>YOU ARE GIVING UP YOUR RIGHT TO HAVE A TRIAL BY JURY; and</p>
		<p>YOU ARE GIVING UP YOUR RIGHT TO SERVE AS A REPRESENTATIVE, AS A PRIVATE ATTORNEY GENERAL, OR IN ANY OTHER REPRESENTATIVE CAPACITY, OR TO PARTICIPATE AS A MEMBER OF A CLASS OF CLAIMANTS, IN ANY LAWSUIT INVOLVING ANY SUCH DISPUTE.</p>
	</li>
	<li>
		<h4>Miscellaneous</h4>
		<p> If any portion of this Agreement is deemed unlawful, void or unenforceable by any arbitrator or court of competent jurisdiction, this Agreement as a whole shall not be deemed unlawful, void or unenforceable, but only that portion of this Agreement that is unlawful, void or unenforceable shall be stricken from this Agreement.</p>
		<p>You agree that if CleanGPA does not exercise or enforce any legal right or remedy which is contained in the Agreement (or which CleanGPA has the benefit of under any applicable law), this will not be taken to be a formal waiver of CleanGPA’s rights and that those rights or remedies will still be available to CleanGPA.</p>
		<p>All covenants, agreements, representations and warranties made in this Agreement shall survive your acceptance of this Agreement and the termination of this Agreement.</p>
		<p>This Agreement represents the entire understanding and agreement between you and CleanGPA regarding the subject matter of the same, and supersedes all other previous agreements.</p>
	</li>
</ol>
