/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
* {
	font: 18px/27px 'QlassikMediumRegular', Arial, sans-serif;
}
h1 {
	font: 18px/27px 'ArmWrestlerBold', Arial, sans-serif;
}
h2 {
	font: 60px/68px 'MirageRegular', Arial, sans-serif;
	letter-spacing: 0;
}
h3 {
	font: 60px/68px 'BebasNeueRegular', Arial, sans-serif;
	letter-spacing: 0;
}
